body {
  font-family: "Arial Rounded MT Bold";
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  font-size: 50px;
  /*display: flex;*/
  /*flex-direction: row;*/
}

li {
  margin: 6px 10px;
}

.item {
  margin-left: 10px;
  width: 300px;
}
